



<form asp-action="Login" method="post">
    <input type="text" placeholder="UserName" name="username"/>
    <input type="password" placeholder="Password" name="password"/>
    <input type="submit" value="Login"/>
</form>